/*ВЫБОРКА ОДНОГО КОНКРЕТНОГО ЭЛЕМЕНТА*/
a {
    color: darkorchid;
    font-size: 20px;
}/*название свойства: значение; цвет ссылки фиолетовый, размер шрифта ссылки 20 пикселей */


[href$=".png"]{
    color: orangered;
    font-size: 20px;
}
/* применить стиль к атрибуту,
$долар - атрибут должен заканчиваться на .png*,
фильтр по окончанию/
 */

[href^="http://"][href$=".png"]{
    color: orangered;
    font-size: 20px;
}
/* комбинация стилей = одновременно начинается с нттр и заканчиваются .png
применить стиль к атрибуту [name="email"],
^карет - атрибут должен начинаться с такой строки
*/

#navigation {
    background: #336622;
}/*будут искаться элементы с  этим айди*/


p {
    margin: 50px 0;
}/* действует на все параграфы на странице, пробелы и переносы строк игнорируются
отступ строки сверху 50 рх снизу 0*/


.shop-items {
    background: steelblue;
}/* выборка по классу шоп айтемс*/

*{}
/* ко всем элементам применить стили*/



/**/




/*ВЛОЖЕННОСТИ*/
h1  .c1 {
    color: red;
} /*в заголовке 2 выберем класс с1*/

h1 > .c1 {
    color: red;
} /* с проблемами выберется (мы входим внутрь)
 прямая вложенность с угловой скобкой(можно без пробелов) с1 лежит непросредственно в h1;
 непрямая вложенность (с1 лежит в h1, но могут быть вокрег с1 еще дивы) без угловой скобки  - перечесление через проблел с точкой
 с1 - ищем элемент с1, который находится в заголовке 1*;
внутри h1 находим класс с1*/

h1 + button {
    color: blue;
} /*+ селектор,который должен идти после,
т.е. выберется button, который идет СРАЗУ после заголовка2,
применится на одной кнопке*/

h1 ~ button {
    color: greenyellow;
} /*~ селектор,который должен идти за ним на этом же уровне (в диве),
т.е. выберется button, который идет после заголовка2,
который находится на этом же уровне, применится ко всем кнопкам на странице*/

/*ПРИОРИТЕТЫ ПРАВИЛ*/
/*если у нас несколько правил, для одних и тех же элементов, то применяется последнее
нижнее перезаписывает предидущее*/

h1.c1 {
    color: red;
}
/*если без пробелов - выберется h1 со свойством с1*/

h2.c1#my-id {
    color: red;
}
/* применится одновременно только к заголовкам2 с классом с1 c айди май-айди
=можно комбинировать выборку, можно менять местами последовательность,
 в селекторе не должно быть пробелов*/

.shop-items .hint {
    text-transform: uppercase;
}
/* прависло с пробелом применится ко всем хинтам в документе,
 .shop-items>.hint с угловой скобкой>и пробелом - правило применится к одному хинту,
 который лежит сразу непосредственно после шоп айтемс
 .shop-items.hint одновременно ищется элемент с двумя классами*/




/*СЛОЖНЫЕ СЕЛЕКТОРЫ*/
h2, p , h2.heading , div > p {
    margin: 50px 0;
}/* селекторы любой сложенности (с точками, скобками, скобками, тильдами)
 можно перечислить через запятую, если для них одинаковый стиль,
 можно переносить построчно, чтобы лучше видно было названия селекторов*/

/*вложение .foo .bar{} класс бар внутри класса фуу
дочерний  .foo > bar{} непосредственная вложенность класса бар в фуу
селекторы атрибутов input[type=text],[data-var="..."]{...}через запятую и значение вара*/



/*ПСЕВДОКЛАССЫ*/
.info p {
    color: green;
} /*в зеленый покрасили все параграфы*/

.info p + p {
    color: white;
} /*в зеленый покрасятся все параграфы, кроме первого*/

.info p:first-child {
    color: darkorange;
} /*модификатор на выборку, на элемент,
 т.е. параграф, который является первый в данном скоупе*/

.info p:first-of-type {
    color: blanchedalmond;
} /*модификатор на выборку, на элемент,
 т.е. параграф, который является первым данного ТИПА с скоупе*/


.info p:last-child {
    color: darkorange;
} /*модификатор на выборку, на элемент,
 т.е. параграф, который является ПОСЛЕДНИЙ в данном скоупе*/

.info p:last-of-type {
    color: blanchedalmond;
} /*модификатор на выборку, на элемент,
 т.е. параграф, который является ПОСЛЕДНИМ данного ТИПА с скоупе*/

.info p:nth-child(-n+3) {
    color: blanchedalmond;
} /*покрасится второй параграф:
(2n+10)каждый четный начиная с 10го вниз
(2n+1)нечетные элементы
(-n+3)покрасятся первые три
(-2n+10)начиная с 10го каждый четный*/
